<div class="justify-content-between nav sticky top-0 z-50 flex gap-4 p-4 text-sm bg-white px-[30px]">
    <img class="w-[142px]" src="https://edustorage.oss-ap-southeast-5.aliyuncs.com/assets/edufund-logo.svg"
        alt="logo-edufund" />
    <div></div>
    <div class="place-items-center p-4 w-full">
        <ul class="flex space-x-6">
            <li>
                <a href="/" class="active">Beranda</a>
            </li>
            <li>
                <a href="#">Cara Kerja</a>
            </li>
            <li>
                <a href="#">Cara Bayar</a>
            </li>
            <li>
                <a href="#">Tentang kami</a>
            </li>
            <li>
                <a href="#">Hubungi kami</a>
            </li>
        </ul>
    </div>
    <div class="place-items-center p-4">
        <ul class="flex space-x-6">
            <li>
                <a href="#">Masuk</a>
            </li>
            <li>
                <a href="#" class="nav-button hover:text-white">Daftar</a>
            </li>
        </ul>
    </div>
</div>