/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #022e4f;
}

a:hover,
.active {
    color: #ff9700
}

.nav {
    background: rgba(255, 255, 255, .8);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

.nav-button {
    box-shadow: none;
    background-color: #f7951e;
    color: #fff;
    border-color: #f7951e;
    border-radius: 24px;
    width: 82px;
    height: 38px;
    padding: 0.5rem 1rem;
}

.card {
    width: 100%;
    background: #fff;
    box-shadow: 0 8px 40px rgb(202 211 225 / 24%);
    border-radius: 16px;
    margin-bottom: 65px;
}

.card-image {
    display: flex;
    width: 100%;
    max-width: 124px;
    margin-top: -64px;
    margin-left: auto;
    margin-right: auto;
}

.footer-copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #8d96aa;
}
